
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- font library -->
    <link rel="stylesheet" href="./assets/font/fontawesome-free-5.15.1-web/css/all.min.css">
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- css reset -->
    <link rel="stylesheet" href="./assets/css/base.css">
    <!-- base css -->
    <link rel="stylesheet" href="./assets/css/animation.css">
    <!-- animation library -->
    <link rel="stylesheet" href="./assets/css/login__register.css">
    <!-- main css -->
    <link rel="stylesheet" href="./assets/css/reponsive.css">
    <!-- reponsive for device -->
</head>
<body>
    <div class="bg">
        <div class="dragon"></div>
    </div>
    <div class="dragon__hand">
        <div class="register">
            <h3 class="register__title">register</h3>
            <form action="/register" class="register__form" method="post">

                @*<h3 class="register__input">FullName</h3>
                <input class="register__label" type="text" name="fullname">*@
                <h3 class="register__input">Email</h3>
                <input class="register__label" type="text" name="email">
                <h3 class="register__label">Password</h3>
                <input class="register__input" type="password" name="password">
                <h3 class="register__label">Re-enter password</h3>
                <input class="register__input" type="password">
                <br>
                <br>
                <input type="submit" name="btn-sub" value="Đăng Ký" />
            </form>
            <p>If you have an account? <a href="~/login">Login</a></p>
        </div>
    </div>
</body>
</html>